body {
    margin: 0;
}

.videopart {
    background-color: black;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
}

video {
    border: 1px solid white;
    border-radius: 15px;
}